*{
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

.container{
    display: block;
    
    .conversation-pane{
        height: 100vh;
        background-color: #F5F5F5;
        overflow: hidden;
        transition:all 0.2s ease;

        .message-pane{
            width: 100%;
            height: 100%;
            opacity: 1;
            overflow-x: hidden;
            overflow-y: auto;

            .message-body{
                width: 100%;
                margin-bottom: 16px;
            }
        }
    }

    
}

@import "sidebar.scss";
@import "scrollbar.scss";
@import "contact-letter.scss";
@import "message-you.scss";
@import "message-them.scss";
@import "app-bar.scss";