.Tm::-webkit-scrollbar {
    width: 4px;
    height: 16px;
}
.Tm::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.Tm::-webkit-scrollbar-corner {
    background-color: transparent;
}
.Tm::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.4);
}
.Tm::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.1);
}