@import "../constants/constants.scss";
@import '../lib/palette/palette.scss';

.header{
    height: $message-bar-height;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.47);
    position: relative;

    .title-bar{
        height: $title-bar-height;
        background-color: #1976D2;
        -webkit-app-region: drag;
        display: flex;
        align-items: center;
        justify-content: flex-end;


        .window-operations{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            
            .click{
                height: 20px;
                -webkit-app-region: no-drag;
                padding: 3px;
                border-radius: 30px;
                margin-right: 8px;
            }
        }
    }

    .app-bar{
        height: $app-bar-height;
        background-color: #2196F3;
        display: flex;
        align-items: center;

        img{
            margin-left: 14px;
            padding: 10px;
            border-radius: 30px;
            height: 30px;
        }

        .title{
            margin-left: 25px;
            font-family: $font-stack;
            font-size: 20px;
            font-weight: 500;
            color: white;
        }
    }
}
