.message-pane{
    .them{
        float: left;
        padding-left: 16px;

        .messages{
            .text-message:nth-child(1){
                border-top-right-radius: 4px;
                border-top-left-radius: 0px;
                .triangle{                    
                    top:0;
                    left:-14px;
                    border-top: 15px solid #0097A7;
                    border-left: 15px solid transparent;
                }

                
            }

            .text-message:last-child{
                .time{
                    font-size: 12px;
                    color: #FAFAFA;
                }
            }
        }

        .text-message{
            margin-left: 16px;
            background-color: #0097A7;
            color: white;            
        }
    }
}

