.message-pane{
    .you{
        float: right;
        padding-right: 16px;

        .messages{
            .text-message:nth-child(1){
                border-top-right-radius: 0px;
                border-top-left-radius: 4px;
                .triangle{                    
                    top:0;
                    right:-15px;
                    border-top: 15px solid white;
                    border-right: 15px solid transparent;
                }
            }

            .text-message:last-child{
                .time{
                    font-size: 12px;
                    color: rgba(0,0,0,0.57);
                }
            }
        }

        .text-message{
            margin-right: 16px;
            background-color: white;
            color: rgba(0,0,0,0.87); 
               
        }
    }
}

