.message-pane{
    & .them, & .you{
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: white;

        .messages{
            display: flex;
            flex-direction: column;
            .text-message:nth-child(1){
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                .triangle{
                    position: absolute;
                    width: 0;
                    height: 0;
                }
            }

            .text-message:last-child{
                .time{
                    display: block;
                    margin-top: 8px;
                    font-size: 12px;
                    font-weight: 400;
                    -webkit-user-select: none;
                    cursor: default;
                }
            }
        }

        .text-message{
            margin-bottom: 3.5px;

            padding-top: 12px;
            padding-left: 12px;
            padding-right: 24px;
            padding-bottom: 12px;

            display: inline-block;
            border-radius: 4px;
            min-height: 30px;
            max-width: 35vw;
            position: relative;
            display: inline-table;

            .text-message-content{
                display: inline-block;
            }        
            
            .time{
                display: none;
            }
            
        }
    }
}
@import "_message-them.scss";
@import "_message-you.scss";